body {
    margin: 0;
    font-family: "Hiragino Kaku Gothic ProN";
}

a {
text-decoration: none;
}

li {
list-style: none;
}

ul {
    margin: 0;
}

header { 
    background-color: black;
    height: 65px;
    width: 100%;
    opacity: 0.8;
    color: white;
    position: fixed;
    top: 0;
    z-index: 10;
}

.header-logo {
    float: left;
    margin-left: 30px;
    line-height: 65px;
    display: block;
    color: white;
    font-size: 23px;
}

.header-list {
    float: right;
    padding: 0 10px;
    margin-right: 15px;
}

.header-list li {
float: left;
margin: 0 15px;
}

.header-list a {
    color: white;
    display: block;
    line-height: 65px;
}

.header-logo:hover,.header-list a:hover {
    color: #bfbfbf;
    transition: all 0.5s;
}


.top-wrapper {
    margin-top: 65px;
    height: 600px;
    background-image: url(img/top_image.jpg);
    background-size: cover;
}


.top-heading {
    padding: 5% 3% 0 0;
    width: 60%;
    font-size: 50px;
    float: right;
}


.landing-profile-wrapper {
    height: 450px;
    background-color: black;
    color: white;
    padding-top: 20px;
    text-align: center;
}

.heading {
    font-size: 50px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.text-center {
    font-size: 23px;
    text-align: center;
}

.text-left {
    font-size: 23px;
    padding-left: 120px;
    text-align: left;
}

.text-right {
    font-size: 23px;
    text-align: left;
    padding-left: 25%;
}

.detail-text-left {
    padding-top: 30px;
    padding-left: 120px;
    text-align: left;
}

.detail-text-right {
    padding-top: 30px;
    text-align: left;
    padding-left: 25%;
}

.btn {
    color: #37BEF0;
}

.btn:hover {
    border-bottom: 1px solid #37BEF0;
}


.landing-blog-wrapper {
    height: 500px;
    padding-top: 20px;
    background-color: #EEEEEE;
    color: black;
}

.landing-blog-messege, .landing-picture-messege {
    width: 60%;
    text-align: center;
    float: left;
}


.landing-blog-photo {
    width: 40%;
    margin-top: 20px;
    float: right;
    text-align: center;
}

.landing-blog-photo-img {
    width: 75%;
}

.landing-speech-wrapper {
    height: 500px;
    padding-top: 20px;
    background-color: black;
    color: white;
}

.landing-speech-messege {
    width: 50%;
    text-align: center;
    float: right;
}

.landing-speech-photo {
    width: 50%;
    float: left;
}

.landing-speech-photo-img {
    width: 100%;
}

.landing-picture-wrapper {
    height: 500px;
    padding-top: 20px;
    background-color: #EEEEEE;
    color: black;
}

.landing-picture-photo {
    margin-top: 20px;
    width: 40%;
    float: right;
}

.landing-picture-photo-img {
    width: 100%;
}

.contact-wrapper {
    height: 300px;
    background-color: white;
    text-align: center;
    padding-top: 20px;
}