body {
    margin: 0;
    font-family: "Hiragino Kaku Gothic ProN";
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

ul {
    margin: 0;
}

.container {
    width: 1200px;
    margin: 0 auto;
}