body {
    margin: 0;
    font-family: "Hiragino Kaku Gothic ProN";
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

ul {
    margin: 0;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.content-page-title {
    font-size: 60px;
    border-bottom: 2px solid black;
}

.content-section-title {
    font-size: 32px;
    border-bottom: 1px solid black;
}

.content-key-phrase {
    font-size: 44px;

}

.content-text {
    font-size: 18px;
}