body {
    margin: 0;
    font-family: "Hiragino Kaku Gothic ProN";
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

ul {
    margin: 0;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.content-section-wrapper {
    width: 100%;
    border-radius: 10px;
    margin-top: 60px;
    background-color: white;
}

.content-text-container {
    margin-left: 60px;
    margin-right: 60px;
}

.content-page-title {
    font-size: 60px;
    text-align: center;
    margin: 0;
    padding-top: 100px;
}

.content-page-title::after {
    content: "";
    display: block;
    margin: 0 auto;
    border-radius: 4px;
    width: 48px;
    height: 4px;
    background-color: #1DB6DA;
}

.content-section-title {
    font-size: 32px;
    padding-top: 20px;
}

.content-section-title::after {
    content: "";
    display: block;
    border-radius: 4px;
    width: 140px;
    height: 4px;
    background-color: #1DB6DA;
}

.content-section-subtitle {
    font-size: 44px;
    margin: 20px;
}

.content-section-text {
    font-size: 18px;
}

.content-text-link {
    color: #1DB6DA;
}

.content-text-link:hover {
    border-bottom: 1px solid #1DB6DA;
}