.mts {
    margin-top: 10px;
}

.mtm {
    margin-top: 20px;
}

.mtl {
    margin-top: 40px;
}

.mbs {
    margin-bottom: 10px;
}

.mbm {
    margin-bottom: 20px;
}

.mbl {
    margin-bottom: 40px;
}

.pts {
    padding-top: 10px;
}

.ptm {
    padding-top: 20px;
}

.ptl {
    padding-top: 40px;
}

.pbs {
    padding-bottom: 10px;
}

.pbm {
    padding-bottom: 20px;
}

.pbl {
    padding-bottom: 40px;
}

.mrs {
    margin-right: 10px;
}

.mrm {
    margin-right: 20px;
}

.mrl {
    margin-right: 40px;
}

.mls {
    margin-left: 10px;
}

.mlm {
    margin-left: 20px;
}

.mll {
    margin-left: 40px;
}

.prs {
    padding-right: 10px;
}

.prm {
    padding-right: 20px;
}

.prl {
    padding-right: 40px;
}

.pls {
    padding-left: 10px;
}

.plm {
    padding-left: 20px;
}

.pll {
    padding-left: 40px;
}